
:root {
    --grid-size: 450px;
    --margin-size: 10px;
    --square-size: calc((var(--grid-size) / 3) - var(--margin-size));
  }
  
  body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  #grid {
    align-content: space-between;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: var(--grid-size);
    width: var(--grid-size);
  }
  
  #grid div {
    background-color: white;
    height: var(--square-size);
    width: var(--square-size);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-wrap, .display, h1, .reset{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  
  
  #grid div img {
    width: 100%;
  }

  .tab{
    position: absolute;
    top: 1px;
    right: 1px;
    margin-top: 1rem;
    margin-right: 1rem;
   
}